page-home {
    ion-content {
        background-color: #af7106 !important;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .contained {
        margin: auto;
        text-align: center;
        color: white;
    }
    .logoimage {
        height: 20vh;
        width: 100%;
        background-image: url("../assets/imgs/icon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}